@font-face {
    font-family: 'Bitter-Black';
    src: url(font/Bitter-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Bitter-Black', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #F9BC2F;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #F9BC2F;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #F9BC2F;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

#header {
    width: 100%;
    height: 100vh;
}

.container {
    padding: 10px 10%;
}

.logo {
    width: 140px;
}