@font-face {
    font-family: 'Bitter-Black';
    src: url(font/Bitter-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Bitter-Black', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #F9BC2F;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #F9BC2F;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #F9BC2F;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 10%;
}

#header {
    width: 100%;
    height: 100vh;
}

.container {
    padding: 10px 10%;
}

#main-logo {
    display: flex;
    font-family: 'Bitter-Black' sans-serif;
    font-size: 32px;
    border-style: solid;
}

#part-1 {
    padding: 5px;
    color: #fff;
    background-color: #F9BC2F;
    transition: 0.3s;
}

#part-2 {
    padding: 5px;
    color: #F9BC2F;
    background-color: #fff;
    transition: 0.5s;
}

#main-logo:hover #part-1 {
    color: #F9BC2F;
    background-color: #fff;
}

#main-logo:hover #part-2 {
    color: #fff;
    background-color: #F9BC2F;
}

.int-intro {
    font-size: 30px;
}

.int-info span {
    color: #595959;
}

.header-text p {
    margin-top: 20%;
    font-size: 30px;
    color: #595959;
}

.header-text p span {
    margin-top: 20%;
    font-size: 30px;
    color: #F9BC2F;
}