@font-face {
    font-family: 'Bitter-Black';
    src: url(./font/Bitter-SemiBold.ttf);
}

@font-face {
    font-family: 'Bitter-Regular';
    src: url(./font/Bitter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #595959;
}

body {
    background: #fff;
}

.container {
    padding: 10px 10%;
}

#section-headings {
    padding: 10px;
    font-family: 'Bitter-Black', sans-serif;
    font-size: 32px;
    text-align: left;
}

#section-headings span {
    color: #F9BC2F;
}

#header {
    width: 100%;
    height: 100vh;
    background: #fff;
}

#about {
    width: 100%;
    height: 100vh;
    background: #eee;
}

#project {
    width: 100%;
    height: 100vh;
    background: #ddd;
}

#contact {
    width: 100%;
    height: 100vh;
    background: #ccc;
}

/* home sections */

nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Bitter-Black';
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #F9BC2F;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #F9BC2F;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 10%;
}

/* logo animations */

#main-logo {
    display: flex;
    font-size: 32px;
    border-style: solid;
    border-color: #7f7f7f;
}

#part-1 {
    padding: 5px;
    color: #fff;
    background-color: #F9BC2F;
    transition: 0.3s;
}

#part-2 {
    padding: 5px;
    color: #F9BC2F;
    background-color: #fff;
    transition: 0.5s;
}

#main-logo:hover #part-1 {
    color: #F9BC2F;
    background-color: #fff;
}

#main-logo:hover #part-2 {
    color: #fff;
    background-color: #F9BC2F;
}

/* home infos */

.int-info {
    font-size: 16px;
    color: #F9BC2F;
    font-family: 'Bitter-Black', sans-serif;
}

.int-info span {
    color: #595959;
}

.header-text {
    margin-top: 20%;
    font-size: 32px;
    font-family: 'Bitter-Black', sans-serif;
    color: #595959;
}

.header-text p span {
    color: #F9BC2F;
}

/* about sections*/

.about {
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Bitter-Regular', sans-serif;
    text-align: left;

}

.about-1 span {
    color: #F9BC2F;
    font-size: 20px;
}

.about-me {
    display: flex;
    justify-content: space-around;
    flex: wrap;
}

.about-1 {
    flex-basis: 20%;
}

.about-2 {
    flex-basis: 75%;
}

.card {
    padding: 15px;
    box-shadow: 0 0 8px 0 rgba(249, 188, 47, 0.6);
    transition: 0.3s;
    width: 40%;
}

/* resume */

#resume {
    margin-top: 5%;
}

.tab {
    display: flex;
    margin-top: 20px;
    padding: 0 20%;
    justify-content: space-between;
    font-size: 24px;
    font-family: 'Bitter-Medium', sans-serif;
}

.tab-links {
    background-color: #F9BC2F;
    color: #7f7f7f;
    padding: 8px 16px;
    font-family: 'Bitter-Regular';
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}