@font-face {
    font-family: 'Bitter-Regular';
    src: url(./font/Bitter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #595959;
    font-family: 'Bitter-Regular';
    font-size: 32px;
}

body {
    background: #fff;
}

.container {
    text-align: center;
}

.button {
    align-items: center;
    background-clip: padding-box;
    background-color: #F9BC2F;
    border-style: solid;
    border-radius: .25rem;
    border-color: #7f7f7f;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: 'Bitter-Regular';
    font-size: 32px;
    justify-content: center;
    margin: 0;
    padding: 5px;
    position: relative;
    transition: 0.3s;
    vertical-align: baseline;
    width: auto;
}

.button:hover {
    background-color: #eee;
    color: #595959;
}