@font-face {
  font-family: "Bitter-Regular";
  src: url("./assets/font/Bitter-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  font-family: "Bitter-Regular";
}

html,
body {
  height: 100%;
}

body {
  background: #fc4a1a;
  background: -webkit-linear-gradient(320deg, #f7b733, #fc4a1a);
  background: linear-gradient(320deg, #f7b733, #fc4a1a);
  font-size: 16px;
}

/* Devlopment Conatiner */

.dev-container {
  height: 100%;
}

.dev-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 100%;
  font-size: 80px;
  height: 150px;
  width: 150px;
  animation: rotate infinite forwards 5s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(185deg);
  }
}
