@media (min-width: 640px) {
  .welcome-about-me-text {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .welcome-about-me,
  .about-me-info,
  .contact-info,
  .project-info {
    padding: 2rem 6rem;
  }
  .welcome-about-me::after,
  .about-me-info::after,
  .contact-info::after,
  .project-info::after {
    content: "";
  }
  .section-heading {
    padding: 0 6rem;
  }
  .section-heading p {
    width: 60%;
    font-size: 12px;
  }
  nav {
    padding: 0 6rem;
  }
  .menu-btn {
    right: 6rem;
  }
}
@media (min-width: 1024px) {
  .welcome-about-me,
  .about-me-info-wrapper,
  .contact-info-wrapper {
    flex-direction: row;
    align-items: start;
  }

  .about-bio {
    width: 40%;
  }

  .about-skills {
    width: 60%;
  }

  .contact-me-form {
    width: 40%;
  }

  .contact-info-item {
    width: 60%;
    margin-top: auto;
  }
  .section-heading p {
    width: 40%;
  }

  .menu-items {
    display: flex;
  }
  .menu-btn {
    display: none;
  }
  .section-subheading {
    display: block;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
  .welcome-about-me,
  .about-me-info,
  .contact-info,
  .project-info {
    padding: 6rem 20rem;
  }
  .welcome-about-me::before,
  .about-me-info::before,
  .contact-info::before,
  .project-info::before {
    filter: blur(0);
  }

  .welcome-about-me::after,
  .about-me-info::after,
  .contact-info::after,
  .project-info::after {
    filter: blur(0);
  }

  .section-heading {
    padding: 0 20rem;
  }
  .section-heading p {
    width: 40%;
    font-size: 14px;
  }
  nav {
    padding: 0 20rem;
  }
  .menu-items {
    right: 20rem;
  }
}
