@font-face {
  font-family: "Bitter";
  src: url(../font/Bitter-VariableFont_wght.ttf);
}
:root {
  --pimaryAccent: #f9bc2f;
  --primaryText: #eee;
  --secondayText: #ccc;
  --dakHeader: #15171c;
  --darkBG: #323638;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  fill: var(--primaryText);
  scroll-behavior: smooth;
  font-family: "Bitter";
}

html {
  box-sizing: border-box;
}

body {
  color: var(--primaryText);
  background: #15171c;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 0 1rem;
  z-index: 3;
  background: var(--dakHeader);
}

.sidebar {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100dvh;
  display: flex;
  background-color: #0003;
  justify-content: end;
  transition: opacity 0.3s ease-in-out;
}

.sidebar.active {
  opacity: 1;
  left: 0;
}

.sidebar-items {
  padding-top: 6rem;
  width: 88px;
  height: 100%;
  background-color: var(--darkBG);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.icon {
  background-color: var(--pimaryAccent);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.icon img {
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}

/* logo animations */

.main-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 0.3rem;
}

.name-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
}

.part-1 {
  padding: 5px 0 5px 5px;
  color: var(--pimaryAccent);
  border-radius: 0.1rem 0 0 0.1rem;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-property: background-color, color;
}

.part-2 {
  padding: 5px 5px 5px 0;
  color: var(--pimaryAccent);
  border-radius: 0 0.1rem 0.1rem 0;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-property: background-color, color;
}

.main-logo:hover .part-1,
.main-logo:hover .part-2 {
  color: var(--dakHeader);
  background-color: var(--pimaryAccent);
}

.int-info {
  font-size: 12px;
}

.menu-items {
  position: fixed;
  right: 6rem;
  top: 2rem;
  z-index: 1;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.under-line-eff {
  padding: 0.5em 1rem;
  color: var(--primaryText);
  position: relative;
}

.under-line-eff::after {
  content: "";
  width: 80%;
  height: 3px;
  background: var(--pimaryAccent);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-1deg);
  bottom: -5px;
  transition: 0.3s;
}

.under-line-eff:hover::after {
  left: unset;
  right: 0;
  transform: rotate(-45deg);
  width: 10%;
}

.menu-btn {
  position: fixed;
  right: 1rem;
  top: 2rem;
  z-index: 1;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

@property --fillSize {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

.btn {
  background-color: var(--pimaryAccent);
  border: 2px solid var(--dakHeader);
  border-radius: 0.3rem;
  padding: 0.3rem 1rem;
  color: var(--dakHeader);
  cursor: pointer;
  z-index: auto;
  font-size: medium;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 10px 10px 10px #0005;
}
.btn.active {
  background: var(--dakHeader);
  color: var(--primaryText);
}

.btn:hover {
  box-shadow: 5px 5px 10px #000;
}

.btn.outline {
  border: 1px solid var(--pimaryAccent);
  background: transparent;
  color: var(--pimaryAccent);
}

/* home infos */

.welcome-msg {
  font-size: 1.5rem;
}

.blink-cursor {
  display: inline-block;
  font-weight: 100;
  font-size: 30px;
  color: #2e3d48;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.welcome-about-me,
.about-me-info,
.contact-info,
.project-info {
  position: relative;
  background: var(--darkBG);
  min-height: calc(100dvh - 6rem);
  width: 100%;
  overflow-y: auto;
  padding: 2rem 1rem;
  transition: min-height 500ms ease-in-out;
  border-radius: 1rem;
}

.welcome-about-me {
  padding: 1rem 1rem;
}

.welcome-about-me::before,
.about-me-info::before,
.contact-info::before,
.project-info::before {
  height: 100%;
  width: 230px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/bg1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: blur(5px);
  z-index: 0;
}

.welcome-about-me::after,
.about-me-info::after,
.contact-info::after,
.project-info::after {
  height: 100%;
  width: 230px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/bg2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: blur(5px);
  z-index: 0;
}

.about-me-info-wrapper,
.contact-info-wrapper,
.project-info-wrapper {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1rem;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
  /* border: 1px solid var(--pimaryAccent); */
  background-color: var(--dakHeader);
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}
.contact-info-wrapper {
  /* max-height: calc(100% - 6rem); */
  /* margin-bottom: 3rem; */
}

.bg-gradient-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  opacity: 0.2;
  z-index: -2;
}

.welcome-text-wrapper {
  position: relative;
  height: calc(100dvh - 6rem - 12rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.welcome-about-me-text {
  font-size: 1rem;
  color: var(--primaryText);
  width: 100%;
  min-height: 50%;
  display: flex;
  justify-content: start;
}

.welcome-msg-wrapper {
  width: calc(100% - 50px);
}

.welcome-msg-1 {
  font-size: 2rem;
}

.welcome-msg-2 {
  font-size: 3rem;
  color: var(--pimaryAccent);
}

.welcome-msg-3 {
  font-size: 1.5rem;
  line-height: 1.2em;
}

.welcome-msg-4 {
  font-size: 1.8rem;
}

.highlight-text {
  color: var(--pimaryAccent);
  font-weight: 700;
}

.potrait-img {
  height: 200px;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px #0002;
}

.hero-cta {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
.hero-cta div {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}

.social-wrapper-line {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 40px;
  gap: 1rem;
  top: 1rem;
  height: calc(100% - 2rem);
}

.social-wrapper-line .line {
  width: 2px;
  height: 100%;
  background-color: var(--pimaryAccent);
}

.social-wrapper-line a img {
  width: 25px;
}

/* about sections*/

.section-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 6rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  background: var(--dakHeader);
  z-index: 2;
}

.section-heading span {
  margin-left: 0.3rem;
  color: var(--pimaryAccent);
}

.section-heading p {
  width: 90%;
  font-size: 12px;
}

.section-subheading {
  font-weight: 600;
  font-size: 20px;
  color: var(--primaryText);
  margin: 0 0 1rem 0;
  position: relative;
  z-index: 1;
}

.text-dark {
  color: var(--dakHeader);
}

.section-subheading::after {
  content: "";
  width: 50px;
  height: 3px;
  background: var(--pimaryAccent);
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: rotate(-1deg);
  z-index: -1;
}

.about-bio {
  background-color: var(--darkBG);
  color: var(--primaryText);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 0.5rem;
  grid-column: span 12 / span 12;
}

.about-experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.prof-exp {
  background-color: var(--pimaryAccent);
  color: var(--dakHeader);
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 0.5rem;
  grid-column: span 12 / span 12;
}

.about span {
  color: var(--pimaryAccent);
  font-size: 20px;
}

.card {
  padding: 15px;
  box-shadow: 0 0 8px 0 rgba(249, 188, 47, 0.6);
}

.tab-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#skills,
#education {
  display: block;
  width: 100%;
  background: var(--darkBG);
  padding: 1rem;
  border-radius: 1rem;
  grid-column: span 12 / span 12;
}

.skills-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.8rem;
  color: var(--secondayText);
}

.skills-info p {
  display: flex;
  flex-direction: column;
}

.skills-info span {
  font-weight: 600;
  color: var(--primaryText);
}

.project-card {
  background-color: var(--darkBG);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  grid-column: span 12 / span 12;
}

.project-about {
  color: var(--secondayText);
}

.icn-size {
  width: 20px;
  height: 20px;
}

.project-head-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.project-head-decoration {
  font-weight: 600;
  font-size: 20px;
  color: var(--primaryText);
}

.project-date-decoration {
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
}

.project-tech-stack {
  font-style: italic;
  color: var(--pimaryAccent);
  font-weight: 500;
  font-size: small;
}

.institute-decoration {
  font-weight: 600;
}

.institute-decoration div {
  font-weight: 300;
  font-style: italic;
}

.other-tools {
  color: var(--primaryText);
}

.tools-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}

.social-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-column: span 12 / span 12;
}

.contact-info-item a {
  color: var(--pimaryAccent);
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  grid-column: span 12 / span 12;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.input {
  padding: 0.5rem;
  border: 1px solid var(--pimaryAccent);
  border-radius: 0.3rem;
  background-color: var(--darkBG);
}

.submit-btn {
  width: 100px;
}
footer {
  background-color: var(--dakHeader);
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.made-by span {
  color: var(--pimaryAccent);
}

.rohit-potrait {
  border-radius: 1rem;
  width: 200px;
}

.marquee-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  padding: 2rem 0;
  background-color: var(--dakHeader);
}
.marquee-wrapper::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--darkBG) 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 80%,
    var(--darkBG) 100%
  );
}

.marquee {
  display: flex;
  justify-items: start;
  align-items: center;
  white-space: nowrap;
  animation: marquee 80s linear infinite;
}

.marquee-wrapper:hover .marquee {
  animation-play-state: paused;
}

.marquee div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 1rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--darkBG);
  animation: shake 10s linear infinite;
}

.marquee div img {
  width: 40px;
  height: 40px;
}

.marquee div span {
  color: var(--primaryText);
}

@keyframes shake {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.99);
  }

  30% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.99);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(0.99);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* utils */

.font-bold {
  font-weight: 600;
}

.font-xs {
  font-size: 0.8rem;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--pimaryAccent);
  border-radius: 100px;
  visibility: hidden;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 16px 0;
}

body:hover ::-webkit-scrollbar-thumb {
  visibility: visible;
}
