/* fonts import */

@font-face {
    font-family: 'Bitter';
    src: url(../font/Bitter.ttf);
}

@font-face {
    font-family: 'Bitter-Light';
    src: url(../font/Bitter-Light.ttf);
}

@font-face {
    font-family: 'Bitter-Medium';
    src: url(../font/Bitter-Medium.ttf);
}


/* main elements */

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1010px;
    margin: 50px;
    display: grid;
    grid-template-rows: 2fr 8fr;
}


/* resume header */


.container .header-grid {
    display: grid;
    grid-template-areas: 'name name img'
        'what-iam mobile img'
        'what-iam email img'
        'what-iam address img'
        'about about img';
    position: relative;
    background: #F9BC2F;
    min-height: 150px;
    margin: 0 10px 0;

}

.container .header-grid .name {
    grid-area: name;
    width: 200px;
    padding: 10px;
    font-family: 'Bitter-Medium', sans-serif;
    color: #404040;
    font-size: 38px;
    font-style: normal;
    text-align: left;
}

.container .header-grid .img {
    grid-area: img;
    position: relative;
    width: 150px;
    padding: 10px;
}

.container .header-grid .what-iam {
    grid-area: what-iam;
    position: relative;
    width: 200px;
    padding: 10px;
    font-family: 'Bitter-Medium', sans-serif;
    color: #404040;
    font-size: 16px;
    font-style: left;
}

.container .header-grid .mobile {
    grid-area: mobile;
    position: relative;
    width: 600px;
    font-family: 'Bitter', sans-serif;
    color: #404040;
    font-size: 16px;
    font-style: normal;
    text-align: right;
}

.container .header-grid .email {
    grid-area: email;
    position: relative;
    width: 600px;
    font-family: 'Bitter', sans-serif;
    color: #404040;
    font-size: 16px;
    font-style: normal;
    text-align: right;
}

.container .header-grid .address {
    grid-area: address;
    position: relative;
    width: 600px;
    font-family: 'Bitter', sans-serif;
    color: #404040;
    font-size: 16px;
    font-style: normal;
    text-align: right;
}

.container .header-grid .about {
    grid-area: about;
    position: relative;
    width: 800px;
    padding: 10px;
    background-color: #bfbfbf;
    font-family: 'Bitter-Medium', sans-serif;
    color: #404040;
    font-size: 16px;
    font-style: normal;
    text-align: left;
}

/* resume body */


.container .body-grid {
    display: grid;
    grid-template-areas: 'profile-head project-head project-head projects-head projects-head projects-head projects-head projects-head'
        'profile-body project-body project-body project-body project-body project-body project-body project-body'
        'skills-head skills-head skills-head education-head education-head education-head education-head education-head'
        'skills-body skills-body skills-body education-body education-body education-body education-body education-body'
        'por-head por-head por-head education-body education-body education-body education-body education-body'
        'por-body por-body por-body education-body education-body education-body education-body education-body'
        'por-body por-body por-body education-body education-body education-body education-body education-body'
        'por-body por-body por-body intrests-head intrests-head intrests-head intrests-head intrests-head'
        'por-body por-body por-body intrests-body intrests-body intrests-body intrests-body intrests-body';
    position: relative;
    margin: 10px;
}

.container .body-grid .profile-head {
    grid-area: profile-head;
    text-align: left;
    border-style: double double none none;
    border-color: #F9BC2F;
}

.container .body-grid .profile-body {
    grid-area: profile-body;
    text-align: left;
    border-style: none double double none;
    border-color: #F9BC2F;
}

.container .body-grid .project-head {
    grid-area: project-head;
    text-align: left;
    border-style: double none none none;
    border-color: #F9BC2F;
}

.container .body-grid .project-body {
    grid-area: project-body;
    text-align: left;
    border-style: none none double none;
    border-color: #F9BC2F;
}

.container .body-grid .skills-head {
    grid-area: skills-head;
    text-align: left;
    border-color: #F9BC2F;
}

.container .body-grid .skills-body {
    grid-area: skills-body;
    text-align: left;
    border-style: none none double none;
    border-color: #F9BC2F;
}

.container .body-grid .education-head {
    grid-area: education-head;
    text-align: left;
    border-style: none none none double;
    border-color: #F9BC2F;
}

.container .body-grid .education-body {
    grid-area: education-body;
    text-align: left;
    border-style: none none none double;
    border-color: #F9BC2F;
}

.container .body-grid .por-head {
    grid-area: por-head;
    text-align: left;
    border-color: #F9BC2F;
}

.container .body-grid .por-body {
    grid-area: por-body;
    text-align: left;
    border-style: none none double none;
    border-color: #F9BC2F;
}

.container .body-grid .intrests-head {
    grid-area: intrests-head;
    text-align: left;
    border-style: double none none double;
    border-color: #F9BC2F;
}

.container .body-grid .intrests-body {
    grid-area: intrests-body;
    text-align: left;
    border-style: none none double double;
    border-color: #F9BC2F;
}

.container .body-grid .body-heading {
    height: 20px;
    font-family: 'Bitter-Medium', sans-serif;
    font-size: 20px;
    color: #404040;
    padding-left: 10px;
    padding-top: 10px;
}

.container .body-grid .body-info {
    font-family: 'Bitter', sans-serif;
    font-size: 14px;
    color: #595959;
    padding: 5px 10px 10px 10px;
}

/* decorations body */

.head-decoration {
    display: flex;
    padding: 5px 0;
    font-family: 'Bitter-Medium' sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #7f7f7f;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: #F9BC2F;
}

.date-decoration {
    font-family: 'Bitter-Light' sans-serif;
    font-size: 13px;
    color: #7f7f7f;
}

.institute-decoration {
    font-family: 'Bitter-Light' sans-serif;
    font-size: 15px;
    color: #7f7f7f;
}

.other-tools {
    font-family: 'Bitter-Medium' sans-serif;
    font-size: 14px;
    color: #595959;
}

.skills-info {
    font-family: 'Bitter-Medium' sans-serif;
    font-weight: bold;
    font-size: 15px;
}